*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 150px;
}

.nav-link{
    flex: 1;
    text-align: right;
}

.nav-link ul li{
    list-style: none;
    padding: 8px 12px;
    position: relative;
    display: inline-block;
}

.nav-link ul li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.nav-link ul li::after{
    width: 0%;
    content: '';
    background: #f44336;
    display: block;
    height: 2px;
    margin: auto;
    transition: 0.5s;
}

.nav-link ul li:hover::after{
    width: 100%;
}

.text{
    width: 90%;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.text h1{
    font-size: 62px;
}

.text p{
    margin: 10px 0 40px;
    font-size:14px;
    color: White;
}

.hero-btn{
    cursor: pointer;
    position: relative;
    font-size: 13px;
    background: transparent;
    padding: 12px 34px;
    border: 1px solid grey;
    color:White;
    text-decoration: none;
    display: inline-block;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1.5s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){

    .text h1{
        font-size: 20px;
    }

    .nav-link ul li{
        display: block;
    }

    .nav-link{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-link ul{
        padding: 30px;
    }
}

.home{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row1{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 60px;
    flex-wrap: wrap;
}

.box .style{
    position: relative;
    width: 400px;
    height: 300px;
    background: #2e2e2e;
    justify-content: center;
    align-items: center;
    display: flex;
}

.box .style::before{
    content:'';
    inset: -10px 50px;
    position: absolute;
    border-top: 4px solid var(--clr);
    border-bottom: 4px solid var(--clr);
    z-index: -1;
    transform: skewY(15deg);
    transition: 0.5s ease-in-out;
}

.box .style:hover::before{
    transform: skewY(0deg);
    inset: -10px 40px;
}

.box .style::after{
    content:'';
    inset: 60px -10px;
    position: absolute;
    border-left: 4px solid var(--clr);
    border-right: 4px solid var(--clr);
    z-index: -1;
    transform: skew(15deg);
    transition: 0.5s ease-in-out;
}

.box .style:hover::after{
    transform: skew(0deg);
    inset: 40px -10px;
}

.box .style .content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    gap: 20px;
    overflow: hidden;
}

.box .style .content .icon{
    color: var(--clr);
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 6px var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    background: #2e2e2e;
    transition: 0.5s ease-in-out;
}
.box .style:hover .content .icon{
    background:var(--clr);
    color: #2e2e2e;
    box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 300px var(--clr);
}

.box .style .content .cat h3 { 
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    transition: 0.5 ease-in-out;
}

.box .style:hover .content .cat h3{
    color: #2e2e2e;
}

.box .style .content .cat p{
    color: #999;
    transition: 0.5s ease-in-out;
}
.box .style:hover .content .cat p{
    color: #2e2e2e;
}

.box .style .content .cat a{
    position: relative;
    background: var(--clr);
    color: #2e2e2e;
    padding: 8px 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    transition: 0.5s ease-in-out;
}
.box .style:hover .content .cat a{
    background: #2e2e2e;
    color: var(--clr);
}



/* brandnames */

.brand{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.brandname{
    flex-basis: 42%;
    border-radius: 10px;
    margin: 50px;
    position: relative;
    overflow: hidden;
}

.brandname img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226,0,0,0.7);
}

.layer h3{
    width: 80%;
    font-weight: 500;
    color: black;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s; 
}

.layer:hover h3{
    bottom: 40%;
    opacity: 1;
}



/* footer*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h1{
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 25px;
}

.icons .fab{
    color: #f44336;
    cursor: pointer;
    margin: 0 13px;
    padding: 18px 0;;
}

.fa-heart{
    color: #f44336;
}